name: Deploy website to S3 + Invalidate CloudFront

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Sync files to S3
        run: |
          aws s3 sync . s3://jang-cloud-resume-challenge --delete \
            --exclude ".git/*" \
            --exclude ".github/*" \
            --exclude "infra/*" \
            --exclude ".vscode/*" \
            --exclude "README.*" \
            --exclude "LICENSE*"

      - name: Invalidate CloudFront cache
        run: aws cloudfront create-invalidation --distribution-id E3QDB3PL9QNBCI --paths "/*"
